float_left {
    float: left;
    display: inline-block;
}
float_right {
    float: right;
    display: inline-block;
}
margin_0{
    margin: 0;
}
margin_bottom30{
    margin-bottom: 30px;
}
a { cursor: pointer; }

.margin_bottom100{ margin-top: 40px !important; }
.margin_left100{ margin-left: 100px !important; }
.margin_left50{ margin-left: 50px !important; }

.newRow{
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px !important;
}